{% extends "base.html" %}

{% block content %}

<body>

    <style>
        body {
            text-align: center;
            background: #00ECB9;
            font-family: sans-serif;
            font-weight: 100;
        }

        h1 {
            color: #396;
            font-weight: 100;
            font-size: 40px;
            margin: 40px 0px 20px;
        }

        #clockdiv {
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 23px;
        }

        #clockdiv>div {
            padding: 3px;
            border-radius: 3px;
            background: #00BF96;
            display: inline-block;
        }

        #clockdiv div>span {
            padding: 9px;
            border-radius: 3px;
            background: #00816A;
            display: inline-block;
        }

        .smalltext {
            padding-top: 5px;
            font-size: 16px;
        }
    </style>


    <div class="columns" id="column1">
        <div class="column"></div>
        <div class="column">
            <h1 class="subtitle" id="difficulty">
                Difficulty: Easy
            </h1>

            <h2 class="subtitle" id="questionNumberWrapper">
                Question Number <span class="subtitle" id="questionNumber"></span>
            </h2>
        </div>
        <div class="column">
            <div id="clockdiv">
                <div>
                    <span class="minutes"></span>
                    <div class="smalltext">Minutes</div>
                </div>
                <div>
                    <span class="seconds"></span>
                    <div class="smalltext">Seconds</div>
                </div>
            </div>
        </div>
    </div>



    <h2 class="title" name="question" id="questionText">
    </h2>

    <div class="columns is-mobile is-centered">
        <div class="column is-8">
            <button class="button is-dark is-small" id="clearB">Clear Diagram</button>
            <div id="container" style="height: 350px;"></div>
            </p>
        </div>
    </div>

    <br>
    <div id="butt">
        <button class="button is-block is-info is-large js-modal-trigger" data-target="modal-js"
            id="nextQ">Submit</button>
    </div>


    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Answer</p>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
                <h1 class="title" id="isCorrect" style="color: black;">IDK</h1>
                <div id="container2" ></div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="closeModalButt">Next</button>
            </footer>
        </div>
    </div>

    <h1 class="title" id="completed1">
        All Easy Questions Completed.
    </h1>

    <h2 class="subtitle" id="completed2">
        Come back later to check for more easy questions!
    </h2>




    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-venn.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/themes/pastel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        var selected_list = [0, 0, 0, 0, 0, 0, 0];

        anychart.onDocumentReady(function () {
            // set chart theme
            anychart.theme('pastel');

            var data = [
                {
                    x: "A",
                    value: 100,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "#8ecafb 1" },
                    selected: { fill: "lightgreen 1" }
                },
                {
                    x: "B",
                    value: 100,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "#8ecafb 1" },
                    selected: { fill: "lightgreen 1" }
                },
                {
                    x: "C",
                    value: 100,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "#8ecafb 1" },
                    selected: { fill: "lightgreen 1" }
                },
                {
                    x: ["A", "C"],
                    value: 20,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "#8ecafb 1" },
                    selected: { fill: "lightgreen 1" },
                },
                {
                    x: ["A", "B"],
                    value: 20,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "#8ecafb 1" },
                    selected: { fill: "lightgreen 1" },
                },
                {
                    x: ["B", "C"],
                    value: 20,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "#8ecafb 1" },
                    selected: { fill: "lightgreen 1" },
                },
                {
                    x: ["A", "B", "C"],
                    value: 30,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "#8ecafb 1" },
                    selected: { fill: "lightgreen 1" },
                }
            ];

            // create venn diagram
            var chart = anychart.venn(data);


            // set chart stroke
            chart.stroke('2 #fff');
            chart.background().stroke("transparent");
            chart.background().fill("grey 0.05");


            // disable legend
            chart.legend(false);


            chart.tooltip(false);
            chart.intersections().labels(false);
            chart.intersections().labels(false);



            // set container id for the chart
            chart.container('container');


            // initiate chart drawing
            chart.draw();


            chart.listen("pointsSelect", function (e) {
                // console.log("clicked something " + e.iterator.get("x"));
                // console.log(e.currentPoint.series.meta("selected"));
                if (e.points.length) {
                    console.log("---");
                    for (var i = 0, len = e.points.length; i < len; i++) {
                        var point = e.points[i];
                        selected_list[point.index] = 1;
                        console.log("selected " + point.index);
                    }
                } else {
                    selected_list = [0, 0, 0, 0, 0, 0, 0];
                    console.log("nothing selected");
                }
                console.log("LIST: " + selected_list.toString());
            });

            var chartAns = anychart.venn(data);
            chartAns.stroke('2 #fff');
            chartAns.background().stroke("transparent");
            chartAns.background().fill("grey 0.05");
            chartAns.legend(false);
            chartAns.tooltip(false);
            chartAns.intersections().labels(false);
            chartAns.intersections().labels(false);
            chartAns.container('container2');
            chartAns.draw();

            var question_number = 0;
            var question_text = ".";
            var is_correct = false;

            document.getElementById("questionNumber").innerHTML = question_number.toString();
            document.getElementById("questionText").innerHTML = question_text;
            document.getElementById("completed1").value = "";
            document.getElementById("completed2").value = "";

            document.getElementById("completed1").style.display = "none";
            document.getElementById("completed2").style.display = "none";

            // window.onload = function () {
            //     document.getElementById("nextQ").click();
            // };

            window.onload = function () {
                document.getElementById("nextQ").click();
                document.getElementById("closeModalButt").click();
            };

            $("#clearB").click(function () {
                chart.select([]);
            })

            function getTimeRemaining(endtime) {
                const total = Date.parse(endtime) - Date.parse(new Date());
                const seconds = Math.floor((total / 1000) % 60);
                const minutes = Math.floor((total / 1000 / 60) % 60);
                // const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
                // const days = Math.floor(total / (1000 * 60 * 60 * 24));

                return {
                    total,
                    // days,
                    // hours,
                    minutes,
                    seconds
                };
            }

            function initializeClock(id, endtime) {
                const clock = document.getElementById(id);
                // const daysSpan = clock.querySelector('.days');
                // const hoursSpan = clock.querySelector('.hours');
                const minutesSpan = clock.querySelector('.minutes');
                const secondsSpan = clock.querySelector('.seconds');

                function updateClock() {
                    const t = getTimeRemaining(endtime);

                    // daysSpan.innerHTML = t.days;
                    // hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                    $("#nextQ").click(function () {
                        clearInterval(timeinterval);
                    })

                    $('#closeModalButt').click(function () {
                        setInterval(timeinterval, 1000);
                    })

                    if (t.total <= 0) {
                        clearInterval(timeinterval);
                        // when timer finishes, click next button
                        document.getElementById("nextQ").click();
                    }
                }

                updateClock();
                const timeinterval = setInterval(updateClock, 1000);
            }

            const deadline = new Date(Date.parse(new Date()) + 1 * 10 * 1000);
            initializeClock('clockdiv', deadline);

            $('#closeModalButt').click(function () {
                const deadline = new Date(Date.parse(new Date()) + 1 * 10 * 1000);
                initializeClock('clockdiv', deadline);
                document.getElementById("modal").classList.remove('is-active');
            })

            $("#nextQ").click(function () {
                document.getElementById("completed1").value = "";
                document.getElementById("completed2").value = "";

                var input_answer = selected_list.toString();
                // clear chart selection
                chart.select([]);
                var data_list = [question_number, question_text, input_answer];
                console.log(data_list);

                $.ajax({
                    url: "/easyQuestions",
                    type: "POST",
                    data: { question_number: question_number, question_text: question_text, input_answer: input_answer },
                    success: function (response) {
                        console.log(response);
                        question_number = response[0];
                        question_text = response[1];
                        is_correct = response[2];
                        

                        if (question_number == "finished") {
                            console.log("completed all questions");
                            document.getElementById("difficulty").style.display = "none";
                            document.getElementById("questionNumberWrapper").style.display = "none";
                            document.getElementById("questionNumber").style.display = "none";
                            document.getElementById("questionText").style.display = "none";
                            document.getElementById("container").style.display = "none";
                            document.getElementById("butt").style.display = "none";
                            document.getElementById("clearB").style.display = "none";
                            document.getElementById("clockdiv").style.display = "none";
                            document.getElementById("column1").style.display = "none";


                            document.getElementById("completed1").value = "All Easy Questions Completed.";
                            document.getElementById("completed2").value = "Come back later to check for more easy questions!";
                            document.getElementById("completed1").style.display = "block";
                            document.getElementById("completed2").style.display = "block";
                        }
                        else {
                            document.getElementById("completed1").style.display = "none";
                            document.getElementById("completed2").style.display = "none";
                            document.getElementById("questionNumber").innerHTML = question_number.toString();
                            document.getElementById("questionText").innerHTML = question_text;
                            var correctAnsSelectString = response[3];
                        }

                        if (is_correct) {
                            document.getElementById("isCorrect").innerHTML = "Correct";
                            document.getElementById("isCorrect").style.color = "green";
                            document.getElementById("modal").classList.add('is-active');
                            document.getElementById("container2").style.display = "none";
                        }
                        else if (is_correct == false) {
                            document.getElementById("isCorrect").innerHTML = "Incorrect";
                            document.getElementById("isCorrect").style.color = "red";
                            document.getElementById("modal").classList.add('is-active');
                            document.getElementById("container2").style.display = "block";
                            console.log(correctAnsSelectString);
                            console.log(typeof(correctAnsSelectString));
                            var correctAnsSelect = JSON.parse('[' + correctAnsSelectString + ']');
                            chartAns.select(correctAnsSelect);
                        }

                    },
                    error: function (xhr) {
                        console.log(error);
                    }
                });
            })

            window.addEventListener("pageshow", function (event) {
                var historyTraversal = event.persisted ||
                    (typeof window.performance != "undefined" &&
                        window.performance.navigation.type === 2);
                if (historyTraversal) {
                    // Handle page restore.
                    window.location.reload();
                }
            });

        });
    </script>

    <script>

    </script>

</body>

{% endblock %}