{% extends "base.html" %}

{% block content %}

<body>
    <h1 class="subtitle">
        Id: {{question.id}},
        Difficulty: {{question.difficulty}}
    </h1>


    <input class="input is-block is-large" id="questionText" name="question" value="{{question.question}}">
    <br>

    {% if (question.difficulty == 0): %}
    <div class="columns is-mobile is-centered">
        <div class="column is-8">
            <div id="container" style="height: 350px;"></div>
            </p>
        </div>
    </div>

    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-venn.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.9.0/themes/pastel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        let stringList = {{ question.answer| tojson}};

        let list_str = stringList.split(",");

        var answer_list = [];
        for (s in list_str) {
            answer_list.push(parseInt(list_str[s]));
        }
    </script>
    <script>
        var selected_list = [0, 0, 0, 0, 0, 0, 0];

        anychart.onDocumentReady(function () {
            // set chart theme
            anychart.theme('pastel');

            var data = [
                {
                    x: "A",
                    value: 100,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "grey 1" },
                    selected: { fill: "lightgreen 1" }
                },
                {
                    x: "B",
                    value: 100,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "grey 1" },
                    selected: { fill: "lightgreen 1" }
                },
                {
                    x: "C",
                    value: 100,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "grey 1" },
                    selected: { fill: "lightgreen 1" }
                },
                {
                    x: ["A", "C"],
                    value: 20,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "grey 1" },
                    selected: { fill: "lightgreen 1" },
                },
                {
                    x: ["A", "B"],
                    value: 20,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "grey 1" },
                    selected: { fill: "lightgreen 1" },
                },
                {
                    x: ["B", "C"],
                    value: 20,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "grey 1" },
                    selected: { fill: "lightgreen 1" },
                },
                {
                    x: ["A", "B", "C"],
                    value: 30,
                    normal: { fill: "grey 1" },
                    hovered: { fill: "grey 1" },
                    selected: { fill: "lightgreen 1" },
                }
            ];

            // create venn diagram
            var chart = anychart.venn(data);

            // set chart stroke
            chart.stroke('2 #fff');
            chart.background().stroke("transparent");
            chart.background().fill("grey 0.05");

            // disable legend
            chart.legend(false);


            chart.tooltip(false);
            chart.intersections().labels(false);
            chart.intersections().labels(false);


            // set container id for the chart
            chart.container('container');

            // initiate chart drawing
            chart.draw();


            chart.select(answer_list);
            chart.unhover();

            chart.listen("pointsSelect", function (e) {
                // console.log("clicked something " + e.iterator.get("x"));
                // console.log(e.currentPoint.series.meta("selected"));
                if (e.points.length) {
                    console.log("---");
                    for (var i = 0, len = e.points.length; i < len; i++) {
                        var point = e.points[i];
                        selected_list[point.index] = 1;
                        console.log("selected " + point.index);
                    }
                } else {
                    selected_list = [0, 0, 0, 0, 0, 0, 0];
                    console.log("nothing selected");
                }
                console.log("LIST: " + selected_list.toString());
            });

        });


    </script>

    <br>

    <div class="columns">
        <div class="column">
            <button class="button is-block is-info is-large" id="goBack"
                onclick="window.location.href='/allQuestions'">Back</button>
        </div>
        <div class="column">
            <button class="button is-block is-info is-large" id="save">Save</button>
        </div>
    </div>

    <script>
        $("#save").click(function () {
            console.log("clicked");
            var input_answer = selected_list.toString();
            var difficulty = 0;
            question_text = document.getElementById('questionText').value;

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            $.ajax({
                url: "/updQs",
                type: "POST",
                data: { question_id: urlParams.get("id"), question_text: question_text, input_answer: input_answer, difficulty: difficulty },
                success: function (response) {
                    console.log(response);
                    // reset Qs box and chart selection
                    if (response == "Q Added") {
                        window.location.replace("/allQuestions");
                    }

                },
                error: function (xhr) {
                    console.log(error);
                }
            });
        })
    </script>
    {% else: %}
    <input class="input is-block is-large" id="answer" name="answer" value="{{question.answer}}">
    <br>

    <div class="columns">
        <div class="column">
            <button class="button is-block is-info is-large" id="goBack"
                onclick="window.location.href='/allQuestions'">Back</button>
        </div>
        <div class="column">
            <button class="button is-block is-info is-large" id="save">Save</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $("#save").click(function () {
            console.log("clicked");
            var input_answer = document.getElementById('answer').value;
            var difficulty = 1;
            question_text = document.getElementById('questionText').value;

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            $.ajax({
                url: "/updQs",
                type: "POST",
                data: { question_id: urlParams.get("id"), question_text: question_text, input_answer: input_answer, difficulty: difficulty },
                success: function (response) {
                    console.log(response);
                    // reset Qs box and chart selection
                    if (response == "Q Added") {
                        window.location.replace("/allQuestions");
                    }

                },
                error: function (xhr) {
                    console.log(error);
                }
            });
        })
    </script>

    {%endif%}
</body>




{% endblock %}