{% extends "base.html" %}

{% block content%}

<body>
    <h1 class="subtitle" id="difficulty">
        Difficulty: Hard
    </h1>

    <h2 class="subtitle" id="questionNumberWrapper">
        Question Number <span class="subtitle" id="questionNumber"></span>
    </h2>

    <h2 class="title" name="question" id="questionText">
    </h2>

    <input class="input is-large" id="answerBox" type="text" name="answer" placeholder="Your Answer">
    <br><br>
    <div id="butt">
        <button class="button is-block is-info is-large js-modal-trigger" data-target="modal-js" id="nextQ">Submit</button>
    </div>
    <h1 class="title" id="completed1">
        All Hard Questions Completed.
    </h1>

    <h2 class="subtitle" id="completed2">
        Come back later to check for more hard questions!
    </h2>

    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Answer</p>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
                <h1 class="title" id="isCorrect" style="color: black;">IDK</h1>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" id="closeModalButt">Next</button>
            </footer>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        var question_number = 0;
        var question_text = "";

        document.getElementById("questionNumber").innerHTML = question_number.toString();
        document.getElementById("questionText").innerHTML = question_text;
        document.getElementById("completed1").value = "";
        document.getElementById("completed2").value = "";

        document.getElementById("completed1").style.display = "none";
        document.getElementById("completed2").style.display = "none";

        window.onload = function () {
            document.getElementById("nextQ").click();
        };

        $('#closeModalButt').click(function () {
            document.getElementById("modal").classList.remove('is-active');
        })

        $("#nextQ").click(function () {
            document.getElementById("completed1").value = "";
            document.getElementById("completed2").value = "";

            var input_answer = document.getElementById("answerBox").value;
            document.getElementById("answerBox").value = "";
            var data_list = [question_number, question_text, input_answer];
            console.log(data_list);

            $.ajax({
                url: "/hardQuestions",
                type: "POST",
                data: { question_number: question_number, question_text: question_text, input_answer: input_answer },
                success: function (response) {
                    console.log(response);
                    question_number = response[0];
                    question_text = response[1];
                    is_correct = response[2];

                    if (question_number == "finished") {
                        console.log("completed all questions");
                        document.getElementById("difficulty").style.display = "none";
                        document.getElementById("questionNumberWrapper").style.display = "none";
                        document.getElementById("questionNumber").style.display = "none";
                        document.getElementById("questionText").style.display = "none";
                        document.getElementById("answerBox").style.display = "none";
                        document.getElementById("butt").style.display = "none";
                        document.getElementById("completed1").value = "All Hard Questions Completed.";
                        document.getElementById("completed2").value = "Come back later to check for more hard questions!";
                        document.getElementById("completed1").style.display = "block";
                        document.getElementById("completed2").style.display = "block";
                    }
                    else {
                        document.getElementById("completed1").style.display = "none";
                        document.getElementById("completed2").style.display = "none";
                        document.getElementById("questionNumber").innerHTML = question_number.toString();
                        document.getElementById("questionText").innerHTML = question_text;

                    }

                    if (is_correct) {
                        document.getElementById("isCorrect").innerHTML = "Correct";
                        document.getElementById("isCorrect").style.color = "green";
                        document.getElementById("modal").classList.add('is-active');

                    }
                    else if (is_correct == false) {
                        document.getElementById("isCorrect").innerHTML = "Incorrect";
                        document.getElementById("isCorrect").style.color = "red";
                        document.getElementById("modal").classList.add('is-active');
                    }

                },
                error: function (xhr) {
                    console.log(error);
                }
            });

        });

        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>
</body>
{% endblock %}