{% extends "base.html" %}

{% block content %}
<body>
  <div class="columns is-vcentered">
    <div class="column">
      <h3 class="subtitle">[Teacher]</h3>
    </div>
  </div>
  <div class="columns is-vcentered">
    <div class="column">
      <h1 class="title">
        Welcome, {{ name }}!
      </h1>
    </div>
    <div class="column" height="300"><img src="/static/logo.jpg"></div>
    <div class="column">
      <a href="{{url_for('main.leaderboard') }}" class="button is-link">Leaderboard -></a>
    </div>
  </div>

  <br>

  <div class="columns">
    <div class="column is-one-fifths"></div>
    <div class="column"><a href="{{url_for('main.addEasyQuestions')}}" class="button is-link is-large">Add Easy Qs</a></div>
    <div class="column"><a href="{{url_for('main.addHardQuestions')}}" class="button is-link is-large">Add Hard Qs</a></div>
    <div class="column is-one-fifths"></div>
  </div>
  <div class="columns is-vcentered">
    <div class="column">
      <div class="column"><a href="{{url_for('main.allQuestions')}}" class="button is-link is-large">Manage All Questions</a></div>
      <div class="column"><a href="{{url_for('main.historyQuestions')}}" class="button is-link is-large">History</a></div>
    </div>
  </div>
</body>   

{% endblock %}